@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --titles-font: "Permanent Marker", cursive;
  --text-font: "Roboto", sans-serif;

  --bg-color: #e5e5e5;
  --primary-color: #14213d;
  --secondary-color: #fca311;

  /* variables used for squared css background on the second section. S/o to https://css-pattern.com/ <3, i just adjusted the colors to match my graphic design */
  --s: 222px;
  --c1: #5b5b5b;
  --c2: #e5e5e5;
  --c3: #a0a0a0;
  --_g: var(--c1) 10%, var(--c2) 10.5% 19%, #0000 19.5% 80.5%,
    var(--c2) 81% 89.5%, var(--c3) 90%;
  --_c: from -90deg at 37.5% 50%, #0000 75%;
  --_l1: linear-gradient(145deg, var(--_g));
  --_l2: linear-gradient(35deg, var(--_g));
}

body {
  margin: 0;
  padding-top: 92.5vh;
  background-color: black;
}

h1 {
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 1em;
}

h2 {
  line-height: 1;
}

h2 {
  font-size: 5em;
  margin-bottom: 1rem;
  overflow-wrap: break-word;
  hyphens: auto;
}

header,
h2 {
  font-family: var(--titles-font);
}

header div {
  font-size: 1em;
}

p {
  font-family: var(--text-font);
}

/* HEADER */

/* disclaimer : non sticky anymore for UI purposes */

#sticky-parallax-header {
  /* Styling & positioning */
  color: #fff;
  width: 100%;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-blend-mode: soft-light;
  display: grid;
  place-items: center;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 69;
  /* Animation  */
  animation: sticky-parallax-header-move-and-size linear forwards;
  animation-timeline: scroll();
  animation-range: 0vh 90vh;
}

@keyframes sticky-parallax-header-move-and-size {
  from {
    background-position: 50% 0;
    height: 100vh;
    font-size: calc(4vw + 1em);
  }
  to {
    background-position: 50% 100%;
    background-image: url("./assets/background_leather2.jpg");
    height: 0vh;
    color: transparent;
    user-select: none;
  }
}

/* MAIN */
h2 span {
  display: block;
}

section:not(#secondSection) {
  min-height: 100vh;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: black;
}

#firstSection {
  background: linear-gradient(0deg, var(--bg-color), rgb(0, 0, 0));
}

@keyframes move {
  to {
    /* Move horizontally so that right edge is aligned against the viewport */
    transform: translateX(calc(-100% + 100vw));
    left: 0px;
  }
}

#secondSection {
  /* Stretch it out, so that we create room for the horizontal scroll animation */
  height: 500vh;
  overflow: visible; /* To make position sticky work … */

  view-timeline-name: --section-pin-tl;
  view-timeline-axis: block;
  display: flex;
  color: black;
  background: var(--_l1), var(--_l1) calc(var(--s) / 2) var(--s), var(--_l2),
    var(--_l2) calc(var(--s) / 2) var(--s),
    conic-gradient(var(--_c), var(--c1) 0) calc(var(--s) / 8) 0,
    conic-gradient(var(--_c), var(--c3) 0) calc(var(--s) / 2) 0,
    linear-gradient(
      90deg,
      var(--c3) 38%,
      var(--c1) 0 50%,
      var(--c3) 0 62%,
      var(--c1) 0
    );
  background-size: var(--s) calc(2 * var(--s) / 3);
}

.pin-wrap-sticky {
  /* Stick to Top */
  height: 100vh;
  width: 100vw;
  position: sticky;
  top: 0;

  width: 100vw;
  overflow-x: hidden;
}

.pin-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3vw;

  height: 100vh;
  width: 250vmax;

  padding: 0 5vw;

  /* Hook animation */
  will-change: transform;
  animation: linear move forwards;

  /* Link animation to view-timeline */
  animation-timeline: --section-pin-tl;
  animation-range: contain 0% contain 100%;
}

.custom-cards,
.side-card {
  height: 80vh;
  flex-grow: 1;
  max-width: 90vw; /* for mobiles */
}

.custom-cards {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(74, 74, 74, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: white;
}

.side-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-header h3 {
  font-family: var(--text-font);
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  font-size: 2em;
}

.card-header {
  margin-block-start: 1em;
  margin-block-end: 1em;
  text-align: center;
  border-bottom: solid 1px white;
}
